:root {
  --accent-color: #62d0df;
  --white-color: #ffffff;
  --dark-blue: #22356f;
  --light-clue-color: #6cd3e1;
  --orange-buttons-color: #fab63e;
  --light-yellow: #f4f9e2;
  --light-blue: #edfdff;
  --light-pink: #ffe2de;
  --light-green: #c4e769;
  --blue-color: #0052c1;
  --light-violet: #dee1ff;
  --violet: #8f00ff;

  --main-font-style: "Inter", sans-serif;
  --text-font-style: "Manrope", sans-serif;
}

li {
  list-style-type: none;
  align-items: center;
}

ol,
ul {
  padding-top: 0;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
}

.container {
  display: flex;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
