:root {
  --accent-color: #62d0df;
  --white-color: #ffffff;
  --dark-blue: #22356f;
  --light-clue-color: #6cd3e1;
  --orange-buttons-color: #fab63e;
  --light-yellow: #f4f9e2;
  --light-blue: #edfdff;
  --light-pink: #ffe2de;
  --light-green: #c4e769;
  --blue-color: #0052c1;
  --light-violet: #dee1ff;
  --violet: #8f00ff;

  --main-font-style: "Inter", sans-serif;
  --text-font-style: "Manrope", sans-serif;
}

li {
  list-style-type: none;
  align-items: center;
}

ol,
ul {
  padding-top: 0;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
}

.container {
  display: flex;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
/* ========== SECTION 4 ========== */

.section-color-cards {
}
.container {
  width: 1440px;
}
.section-four-header {
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-four-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.section-four-element {
  width: 480px;
  height: 480px;
}
.section-four-element:nth-child(1) {
  background-color: var(--dark-blue);
}
.section-four-element:nth-child(2) {
  background-color: var(--blue-color);
}
.section-four-element:nth-child(3) {
  background-image: url(../images/strawberry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-four-element:nth-child(4) {
  background-color: var(--accent-color);
}
.section-four-element:nth-child(5) {
  background-color: var(--light-violet);
}
.section-four-element:nth-child(6) {
  background-color: var(--violet);
}
.thumb {
  width: 340px;
  height: 96px;
  box-shadow: inset 0px -1px 0px var(--white-color);
  margin-left: 70px;
}
.dot {
  --dot-color: #e9b730;
  fill: var(--dot-color);
  width: 24px;
}
.section-four-text {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  line-height: 1.06;
  letter-spacing: -0.006em;
  color: var(--white-color);
  text-transform: capitalize;
  display: flex;
  margin-left: 80px;
  margin-top: 30px;
}
.short {
  width: 220px;
}
